body{
    background-image: url("Aboutpic.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}
p{
    text-align: left;
    margin-left: 30px;
}